<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testIssueDaoImpl"
          class="ru.otus.students.testing.dao.TestIssueDaoImpl">
        <constructor-arg name="resourcePath" value="data/questions.csv"/>
    </bean>
    <bean id="csvPrinterService"
          class="ru.otus.students.testing.service.CSVPrinterServiceImpl">
        <constructor-arg name="testIssueDao" ref="testIssueDaoImpl"/>
    </bean>

</beans>